:root {

    --transition-header: fill 250ms, color 250ms, background-color 250ms, box-shadow 250ms, border 250ms;
    --transition-cubic-bezier: cubic-bezier (0.4, 0, 0.2, 1);
    --transition-translate: transform 250ms
}