body {
  cursor: url('../images/cursor.cur'), auto;
}
.link {
  text-decoration: none;
}

button,
a {
  cursor: url('../images/cursor.cur'), auto;
}

button:hover,
a:hover {
  cursor: url('../images/cursor-ice-cream2.cur'), auto;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  // height: 100%;
  overflow: hidden;
}
