/**
//* Phone
*/
/**
//* Tablet
*/
/**
//* Desctop
*/
/**
//* Castom media
// */
.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 60px 0 60px 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  outline: 2px solid tomato;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.contact .container {
  padding-bottom: 60px;
  background-color: #84A178;
  font-family: "Montserrat", sans-serif;
}

.agency__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.agency__item {
  width: calc(100% - 40px);
  background-color: #fcfcfc;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 32px 24px;
}

.agency__category {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  padding: 4px 22px;
  background-color: #F8D24E;
  display: inline-flex;
  border-radius: 4px;
  margin-bottom: 20px;
  color: #131313;
}

.location__wrap {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.agency__city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #131313;
  margin-bottom: 8px;
}

.location__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #D6936D;
}

.schedule__list {
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.working__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #131313;
}

.working__hours {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ababab;
}

.agency__contact__wrap {
  padding-top: 24px;
}

.contact__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #131313;
}

.contact__tel {
  margin-bottom: 6px;
}

.contact__btn__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.contact__btn {
  padding: 12px 5px;
  border-radius: 10px;
  max-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #131313;
  border: 2px solid #F8D24E;
}

.location__btn {
  background-color: #F8D24E;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location__btn:hover {
  background-color: #0A8817;
  border: 2px solid #0A8817;
  color: #000000;
}
.location__btn:focus {
  background-color: #0A8817;
  border: 2px solid #0A8817;
  color: #ffffff;
  outline: transparent;
}

.franchise__btn {
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.franchise__btn:hover {
  border: 2px solid #0A8817;
  color: #000000;
}
.franchise__btn:focus {
  border: 2px solid #0A8817;
  color: #ffffff;
  outline: transparent;
}

.contact__btn__icon {
  margin-left: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000000;
}
.location__btn:focus .contact__btn__icon {
  fill: #ffffff;
}
.franchise__btn:focus .contact__btn__icon {
  fill: #ffffff;
}

.section-about {
  font-family: "Montserrat", sans-serif;
  background-color: #84A178;
  color: #fcfcfc;
  padding: 61px 0 50px 0;
}
@media (min-width: 768px) {
  .section-about {
    padding: 60px 0 60px 0;
  }
}

.section-about__pre-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .section-about__pre-title {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}

.section-about__title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 12px auto 32px auto;
}
@media (min-width: 768px) {
  .section-about__title {
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
  }
}

.tumb {
  position: relative;
  width: 279px;
  height: 278px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
  margin: 0 auto 62px auto;
}

.picture {
  position: absolute;
  top: 22px;
}

.section-about__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.59;
  text-align: center;
  max-width: 220px;
  margin: 0 auto 10px auto;
}

.section-about__text--first {
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.section-about__button {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  border: none;
  outline: none;
  background-color: #F8D24E;
  border-radius: 10px;
  padding: 12px 35px 12px 34px;
  margin: 0 auto;
}
.section-about__button:hover {
  background-color: #0A8817;
}
.section-about__button:focus {
  background-color: #0A8817;
  color: #fcfcfc;
}

.section-about__icon {
  margin-left: 4px;
  fill: currentColor;
}
.section-about__icon:hover, .section-about__icon:focus {
  fill: currentColor;
}

.section-about__text--desktop {
  display: none;
}
@media (min-width: 1200px) {
  .section-about__text--desktop {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */