// //* fonts
// @mixin font($font_name, $file_name, $weight, $style) {
//   @font-face {
//     font-family: $font_name;
//     font-display: swap;
//     src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
//     font-weight: #{$weight};
//     font-style: #{$style};
//}
// //@include font("Inter", "Inter-Light", "300", "normal");

// //* responsive font size
// $maxWidth: 1440; 
// $minWidth: 575;

// //@include adaptive-font(44, 26); - вказуємо максимальний і мінімальний розмір шрифту

// @mixin adaptive-font($pcSize, $mobSize) {
//   $addSize: $pcSize - $mobSize;
//   $maxWidth: $maxWidth - $minWidth;
//   font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth}));
// }

//******/


//* media
$phoneMax: 319px;
$phoneMin: 320px;
//******/
$tabletMax: 767px;
$tabletMin: 768px;
//******/
$desctopMax: 1199px;
$desctopMin: 1200px;
/**
//* Phone
*/

@mixin maxW-Phone {
    @media screen and (max-width: $phoneMax) {
        @content;
    }
}

@mixin minW-Phone {
    @media screen and (min-width: $phoneMin) {
        @content;
    }
}

/**
//* Tablet
*/

@mixin maxW-Tablet {
    @media screen and (max-width: $tabletMax) {
        @content;
    }
}

@mixin minW-Tablet {
    @media screen and (min-width: $tabletMin) {
        @content;
    }
}

/**
//* Desctop
*/

@mixin maxW-Dt {
    @media screen and (max-width: $desctopMax) {
        @content;
    }
}

@mixin minW-Dt {
    @media screen and (min-width: $desctopMin) {
        @content;
    }
}

/**
//* Castom media
// */

// @mixin minW($widhtValue) {
//   @media screen and (min-width: $widhtValue) {
//     @content;
//   }
// }

// @mixin maxW($widhtValue) {
//   @media screen and (max-width: $widhtValue) {
//     @content;
//   }
// }