header {

    color: #ECECEC;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

body {
    background-color: var(--color-section);
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: var(--color-background);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section {
    padding: 60px 0 60px 0;


            
        @media screen and (min-width:1200px) {padding: 94px 0 94px 0;}
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
    @media screen and (min-width:768px) {
        max-width: 768px;
    }
        
    @media screen and (min-width:1200px) {
        max-width: 1200px;
    }
    

}