$bg-color-green: #84A178;
$txt-white: #fcfcfc;
$txt-black: #131313;
$txt-purpure-lite: #907E82;
$txt-orange-lite: #D6936D;
$dyellow-color: #F8D24E;
$accent-color: #0A8817;
$txt-gray: #ababab;
$border-color: #e1e1e1;
$white: #ffffff;
$black: #000000;
$pale-yellow: #d9d9d9;
$mustard-yellow: rgba(248, 210, 78, 0.7);
$mustard-black: rgba(153, 114, 23, 0.25);


$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

