.section {
  padding: 60px 0 60px 0;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include maxW-minPhone {
    width: 320px;
  }

  @include minW-Phone {
    width: 480px;
  }

  @include minW-Tablet {
    padding: 0 32px;
    width: 768px;
  }

  @include minW-Dt {
    padding: 0 16px;
    width: 1200px;
  }
}

body {
  background-color: var(--color-section);
  font-family: 'Montserrat' , sans-serif;
}

.modalcls {
  width: 20px;
  height: 20px;
  @include minW-Tablet {
    width: 24px;
    height: 24px;
  }
}
