<section class="section section-about">
  <div class="container">
    <p class="section-about__pre-title">tradition and love</p>
    <h2 class="section-about__title">how it’s made?</h2>
    <div class="tumb">
      <picture class="picture">
        <source
          srcset="
            /src/images/how-its-made/korova-mobile.png    1x,
            /src/images/how-its-made/korova-mobile@2x.png 2x
          "
          type="image/png"
          media="(max-width: 767px)"
          sizes="(min-width: 480px) "
        />
        <source
          srcset="
            /src/images/how-its-made/korova-tablet.png    1x,
            /src/images/how-its-made/korova-tablet@2x.png 2x
          "
          type="image/png"
          media="(max-width: 1199px)"
          sizes="(min-width: 768px) 768px"
        />
        <source
          srcset="
                    /src/images/how-its-made/korova-desktop.png 1x
                    /src/images/how-its-made/korova-desktop@2x.png 2x
                  "
          type="image/png"
          media="(max-width: 1600px)"
          sizes="(min-width: 1200px) 1200px"
        />
        <img src="/src/images/how-its-made/korova-mobile.png" alt="cow" />
      </picture>
    </div>
    <p class="section-about__text section-about__text--first">
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p class="section-about__text">
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
    <p class="section-about__text--desktop">
      This is enough to choose ice cream and coffee for any mood!
    </p>
    <button class="section-about__button">
      Read more
      <svg class="section-about__icon" width="12" height="12">
        <use href="/src/images/icons.svg#icon-Vector"></use>
      </svg>
    </button>
  </div>
</section>
