<section class="advantages">
  <div class="advantages-container">
    <h2 class="advantages__title-up">tradition and love</h2>
    <h2 class="advantages__title-under">how it’s made?</h2>

    <div class="advantages__img">
      <div class="advantages__img-back"></div>
      <div class="advantages__img-top"></div>
    </div>
    <p class="advantages__text">
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p class="advantages__text">
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
    <button type="button" class="advantages__button">Read more</button>

    <div class="advantages__data">
      <svg class="advantages__svg" width="50" height="50">
        <!-- <use href=""></use> -->
      </svg>
      <p class="advantages__data-value">721</p>
      <p class="advantages__data-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>

    <div class="advantages__data">
      <svg class="advantages__svg" width="50" height="50">
        <!-- <use href=""></use> -->
      </svg>
      <p class="advantages__data-value">16kg</p>
      <p class="advantages__data-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>

    <div class="advantages__data">
      <svg class="advantages__svg" width="50" height="50">
        <!-- <use href=""></use> -->
      </svg>
      <p class="advantages__data-value">84</p>
      <p class="advantages__data-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
  </div>
</section>
