<section class="advantages">

  <div class="advantages__data-wrapper">
    <div class="advantages__data">
      <div class="advantages__data-item">
        <svg class="advantages__svg" width="36" height="36">
          <use href="./images/icons.svg#icon-cow"></use>
        </svg>
      </div>

      <p class="advantages__data-value">721</p>
      <p class="advantages__data-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>

    <div class="advantages__data">
      <div class="advantages__data-item">
        <svg class="advantages__svg" width="36" height="36">
          <use href="./images/icons.svg#icon-weight"></use>
        </svg>
      </div>
      <p class="advantages__data-value">16kg</p>
      <p class="advantages__data-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>

    <div class="advantages__data">
      <div class="advantages__data-item">
        <svg class="advantages__svg" width="36" height="36">
          <use href="./images/icons.svg#icon-ice-crema"></use>
        </svg>
      </div>
      <p class="advantages__data-value">84</p>
      <p class="advantages__data-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
  </div>
  </div>
</section>