<section class="advanteges">
  <div class="container advanteges__box">
    <h2 class="visually-hidden">test</h2>
    <ul class="advanteges__list">
      <li class="advanteges__item">
        <div class="advanteges__icon">
          <svg class="advanteges__svg">
            <use href="./images/icons.svg#icon-cow"></use>
          </svg>
        </div>
        <h3 class="advanteges__title">721</h3>
        <p class="advanteges__txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advanteges__item">
        <div class="advanteges__icon">
          <svg class="advanteges__svg">
            <use href="./images/icons.svg#icon-weight"></use>
          </svg>
        </div>
        <h3 class="advanteges__title">16KG</h3>
        <p class="advanteges__txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advanteges__item">
        <div class="advanteges__icon">
          <svg class="advanteges__svg">
            <use href="./images/icons.svg#icon-ice-crema"></use>
          </svg>
        </div>
        <h3 class="advanteges__title">84</h3>
        <p class="advanteges__txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>