<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="your-class">
      <div>
        <div class="customer-reviews__image_thumb">
          <img srcset="
              ./images/customer-reviews-min/customer-reviews_emily.jpg    1x,
              ./images/customer-reviews-min/customer-reviews_emily@2x.jpg 2x
            " class="customer-reviews__image" src="./images/customer-reviews-min/customer-reviews_emily.jpg"
            alt="Emily, Los Angeles" />
        </div>
        <p class="customer-reviews__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>

        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </div>
      <div>
        <div class="customer-reviews__image_thumb">
          <img srcset="
              ./images/customer-reviews-min/customer-reviews_bryan.jpg    1x,
              ./images/customer-reviews-min/customer-reviews_bryan@2x.jpg 2x
            " class="customer-reviews__image" src="./images/customer-reviews-min/customer-reviews_bryan.jpg"
            alt="Emily, Los Angeles" />
        </div>
        <p class="customer-reviews__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="customer-reviews__name">Bryan, New-York</p>
      </div>
      <div>
        <div class="customer-reviews__image_thumb">
          <img srcset="
              ./images/customer-reviews-min/customer-reviews_diana.jpg    1x,
              ./images/customer-reviews-min/customer-reviews_diana@2x.jpg 2x
            " class="customer-reviews__image" src="./images/customer-reviews-min/customer-reviews_diana.jpg"
            alt="Emily, Los Angeles" />
        </div>
        <p class="customer-reviews__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="customer-reviews__name" id="contact">Diana, Chicago</p>
      </div>
    </div>
  </div>
</section>