<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <!-- отут як я розумію дів слайлера і всередині окремі слайди -->
    <div class="your-class">
      <div>
        <div class="customer-reviews__image_thumb">
          <img
            srcset="
              ./images/customer-reviews-min/customer-reviews_emily.jpg    1x,
              ./images/customer-reviews-min/customer-reviews_emily@2x.jpg 2x
            "
            class="customer-reviews__image"
            src="./images/customer-reviews-min/customer-reviews_emily.jpg"
            alt="Emily, Los Angeles"
          />
        </div>
        <p class="customer-reviews__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>

        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </div>
      <div>
        <div class="customer-reviews__image_thumb">
          <img
            srcset="
              ./images/customer-reviews-min/customer-reviews_emily.jpg    1x,
              ./images/customer-reviews-min/customer-reviews_emily@2x.jpg 2x
            "
            class="customer-reviews__image"
            src="./images/customer-reviews-min/customer-reviews_emily.jpg"
            alt="Emily, Los Angeles"
          />
        </div>
        <p class="customer-reviews__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </div>
      <div>
        <div class="customer-reviews__image_thumb">
          <img
            srcset="
              ./images/customer-reviews-min/customer-reviews_emily.jpg    1x,
              ./images/customer-reviews-min/customer-reviews_emily@2x.jpg 2x
            "
            class="customer-reviews__image"
            src="./images/customer-reviews-min/customer-reviews_emily.jpg"
            alt="Emily, Los Angeles"
          />
        </div>
        <p class="customer-reviews__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </div>
      <!-- <div>your content</div> -->
      <!-- <div>your content</div> -->
    </div>
  </div>
</section>
