<footer class="footer">

    <div class="footer-container">
        <ul class="footer-text list">
            <li class="footer-text__item item">
                <p class="footer-subtitle">homemade ice cream made </p>
            </li>
            <li class="footer-text__item item">
                <p class="footer-title">with passion</p>
            </li>
        </ul>

        <ul class="footer-contacts list">
            <li class="footer-contacts__item">
                <ul class="footer-networks list">
                    <li class="footer-networks__item item">
                        <a class="footer-networks__link" href="https://github.com" target="_blank">
                            <svg class="footer-networks__icon" width="34px" height="34px">
                                <use href="/src/images/icons.svg#icon-github"></use>
                            </svg></a>
                    </li>
                    <li class="footer-networks__item item">
                        <a class="footer-networks__link" href="https://web.telegram.org" target="_blank">
                            <svg class="footer-networks__icon" width="34px" height="34px">
                                <use href="/src/images/icons.svg#icon-telegram"></use>
                            </svg></a>
                    </li>
                    <li class="footer-networks__item item">
                        <a class="footer-networks__link" href="https://www.facebook.com" target="_blank">
                            <svg class="footer-networks__icon" width="34px" height="34px">
                                <use href="/src/images/icons.svg#icon-facebook"></use>
                            </svg></a>
                    </li>
                </ul>
            </li>

            <li class="footer-contacts__item">
                <p class="footer-contacts__text">Feel free to contact <a href="tel:+610383766284"
                        class="footer-contacts__link link">
                        +61 (0) 383 766 284
                    </a>
                </p>
            </li>
        </ul>
    </div>

    <ul class="footer-watermark">
        <li class="footer-watermark__item">
            <p><span>&#169;</span> 2022 - IceCream. </p>
        </li>
        <li class="footer-watermark__item">
            <p> All Rights Reserved.</p>
        </li>
    </ul>
    <a class="up" href="index.html#home">⇪</a>
</footer>