<section class="gallery">
  <div class="container gallery__container">
    <div class="gallery__slider">
      <div>
        <picture>
          <source srcset="
              ./images/gallery-min/gallery1-desktop.jpg 1x,
              ./images/gallery-min/gallery1-desktop.jpg 2x
            " media="(min-width:1200px)" />
          <source srcset="
              ./images/gallery-min/gallery1-tab.jpg    1x,
              ./images/gallery-min/gallery1-tab@2x.jpg 2x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery-min/gallery-1-mob.jpg    1x,
              ./images/gallery-min/gallery-1-mob@2x.jpg 2x
            " media="(max-width:767px)" />
          <img src="./images/gallery-min/gallery1-desktop.jpg" alt="gallery" width="1013" height="422" />
        </picture>
      </div>
      <div>
        <picture>
          <source srcset="
              ./images/gallery-min/gallery2-desktop.jpg 1x,
              ./images/gallery-min/gallery2-desktop.jpg 2x
            " media="(min-width:1200px)" />
          <img src="./images/gallery-min/gallery2-desktop.jpg" alt="gallery" width="1013" height="422" />
        </picture>
      </div>
      <div>
        <picture>
          <source srcset="
              ./images/gallery-min/gallery3-desktop.jpg 1x,
              ./images/gallery-min/gallery3-desktop.jpg 2x
            " media="(min-width:1200px)" />
          <img src="./images/gallery-min/gallery3-desktop.jpg" alt="gallery" width="1013" height="422" />
        </picture>
      </div>
    </div>
  </div>
</section>