<div class="">
  <picture>
    <source
      media="(min-width:1200px )"
      srcset="
        ./images/gallery-min/gallery-1-mob.jpg    1x,
        ./images/gallery-min/gallery-1-mob@2x.jpg 2x
      "
      type="png"
    />
    <source
      media="(min-width:768px )"
      srcset="
        ./images/gallery-min/gallery1-tab.jpg    1x,
        ./images/gallery-min/gallery1-tab@2x.jpg 2x
      "
      type="png"
    />
    <source
      media="(min-width:480px )"
      srcset="
        ./images/gallery-min/gallery-1-mob.jpg    1x,
        ./images/gallery-min/gallery-1-mob@2x.jpg 2x
      "
      type="png"
    />
    <img src="./images/gallery-min/gallery-1-mob@2x.jpg" alt="product" />
    /></picture
  >
</div>
