<header class="section-header">
  <div class="container">
    <div class="header">
      <!--  логотип -->

      <a class="header__logo" href="./">
        <svg class="header__logo--svg">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <!-- кнопка моб меню смужки -->

      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="40" height="40" class="toggle-icon">
          <use href="./images/icons.svg#icon-top-menu-lines"></use>
        </svg>
      </button>

      <!-- широке меню для десктопа-->

      <nav class="header__navigation">
        <ul class="nav-menu__list">
          <li class="nav-menu__item">
            <a href="" class="link nav-menu__link">Home</a>
          </li>
          <li class="nav-menu__item">
            <a href="" class="link nav-menu__link">How it’s made?</a>
          </li>
          <li class="nav-menu__item">
            <a href="" class="link nav-menu__link">Our products</a>
          </li>
          <li class="nav-menu__item">
            <a href="" class="link nav-menu__link">Contact</a>
          </li>
        </ul>
      </nav>

      <!-- жовта кнопка Buy now -->

      <button type="button" class="header__button js-open-modal" data-modal="3">
        <span class="button__text">Buy now</span>
        <svg width="12" height="12">
          <use href="./images/icons.svg#icon-vector"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<!-- Бургер меню випадне -->

<div class="menu js-menu-container">
  <!-- логотип випадног меню  -->

  <a class="menu__logo" href="./">
    <svg class="menu__logo--svg">
      <use href="./images/icons.svg#icon-logo"></use>
    </svg>
  </a>

  <!-- Кнопка закриття  -->

  <button type="button" class="menu__buttoncls js-close-menu">
    <svg width="32" height="32">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <!-- список посилань -->

  <ul class="menu__list">
    <li class="menu__item"><a href="#" class="link menu__link">Home</a></li>
    <li class="menu__item">
      <a href="#" class="link menu__link">How it’s made?</a>
    </li>
    <li class="menu__item">
      <a href="#" class="link menu__link">Our products</a>
    </li>
    <li class="menu__item"><a href="#" class="link menu__link">Contact</a></li>
  </ul>

  <!-- кнопка купити -->

  <button type="button" class="menu__button">
    <span class="button__text">Buy now</span>
    <svg width="12" height="12">
      <use href="./images/icons.svg#icon-vector"></use>
    </svg>
  </button>
</div>
