<section class="hero-ice" id="home">
  <div class="container hero">
    <h1 class="hero__title">
      <span class="hero__title--first">ice cream</span>
      <span class="hero__title--second"> made with</span>
      <span class="hero__title--third">passion</span>
    </h1>

    <div class="hero__button">
      <a class="hero__products link js-open-modal" data-modal="4">
        Products
      </a>
      <a class="hero__link" href="index.html#about">How it’s made?</a>
    </div>

    <div class="hero__dishes">
      <div class="hero__dishes--round">
        <picture>
          <source media="(min-width:1200px)" srcset="
              ./images/hero/hero-ice-cream-round-desktop.png    1x,
              ./images/hero/hero-ice-cream-round-desktop@2x.png 2x
            " type="image/png" />
          <source media="(min-width:768px)" srcset="
              ./images/hero/hero-ice-cream-round-tablet.png    1x,
              ./images/hero/hero-ice-cream-round-tablet@2x.png 2x
            " type="image/png" />
          <img src="./images/hero/hero-ice-cream-round-tablet.png" alt="dots" />
        </picture>
      </div>
      <div class="hero__dishes--size">
        <p class="hero__dishes--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="index.html#contact">
          <svg class="hero__dishes--svg shadow--white" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero__number">
      <h2 class="hero__number--title">16</h2>
      <p class="hero__number--text">cafes</p>
      <h2 class="hero__number--title">32</h2>
      <p class="hero__number--text">food trucks</p>
    </div>

    <div class="hero__ice"></div>

    <picture>
      <source media="(min-width:1200px)" srcset="
          ./images/hero/hero-ice-cream-desktop.png    1x,
          ./images/hero/hero-ice-cream-desktop@2x.png 2x
        " type="image/png" />
      <source media="(min-width:768px)" srcset="
          ./images/hero/hero-ice-cream-tablet.png    1x,
          ./images/hero/hero-ice-cream-tablet@2x.png 2x
        " type="image/png" />

      <source media="(max-width:767px)" srcset="
          ./images/hero/hero-ice-cream-mobile.png    1x,
          ./images/hero/hero-ice-cream-mobile@2x.png 2x
        " type="image/png" />

      <img class="main-ice-cream" src="./images/hero/hero-ice-cream-mobile.png" alt="main-ice-cream" />
    </picture>
  </div>
</section>


<script src="./js/modal.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"></script>
<script defer src="./js/mobile-menu.js"></script>