<div class="modal" data-modal="4">
  <button class="modal__btn-close js-modal-close">
    <svg class="modal__icon modalcls">
      <use href="./images/icons.svg#icon-close-cross"></use>
    </svg>
  </button>

  <h2 class="modal__title">Chololate icecream</h2>
  <div class="modal__tumb">
    <img class="modal__image modal__svg" srcset="
        ./images/modal-products/chololate-icecream-modal.png 240w,
        ./images/modal-products/chololate-icecream-modal@2x.png 450w
" sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 320px) 450px, 100vw"
      src="./images/modal-products/chololate-icecream-modal@2x.png" alt="ice-cream" width="132" />
  </div>

  <div class="calories">
    <div>
      <ul class="calories__list">
        <li class="calories__list-item calories__list-item--border link">
          <span class="calories__descr">kcal</span>
        </li>
        <li class="calories__list-item calories__list-item--border link">
          <span class="calories__descr">Protein</span>
        </li>
        <li class="calories__list-item calories__list-item--border link">
          <span class="calories__descr">Fats</span>
        </li>
        <li class="calories__list-item calories__list-item--border link">
          <span class="calories__descr">Carbs</span>
        </li>
      </ul>
    </div>
    <ul class="calories__gramm">
      <li class="calories__list-item calories__list-item--sphere link">
        <span>320</span>
      </li>
      <li class="calories__list-item calories__list-item--sphere link">
        <span>4g</span>
      </li>
      <li class="calories__list-item calories__list-item--sphere link">
        <span>8,2g</span>
      </li>
      <li class="calories__list-item calories__list-item--sphere link">
        <span>40,4g</span>
      </li>
    </ul>
  </div>

  <p class="ingredients-name">Ingredients</p>

  <div class="ingredients">
    <ul class="ingredients__list">
      <li class="ingredients__list-item link">Milk</li>
      <li class="ingredients__list-item link">Belgian chocolate</li>
      <li class="ingredients__list-item link">Cream</li>
      <li class="ingredients__list-item link">Cocoa powder</li>
      <li class="ingredients__list-item link">Sugar</li>
      <li class="ingredients__list-item link">Vanilla sugar</li>
    </ul>

    <ul class="ingredients__list list-item">
      <li class="ingredients__list-item link list-item">100ml</li>
      <li class="ingredients__list-item link list-item">20g</li>
      <li class="ingredients__list-item link list-item">150 ml</li>
      <li class="ingredients__list-item link list-item">30g</li>
      <li class="ingredients__list-item link list-item">40g</li>
      <li class="ingredients__list-item link list-item">10g</li>
    </ul>
  </div>

  <div class="form__modal">
    <input class="form__line" type="text" name="name" id="name" placeholder="Name" required
      pattern="^[a-zA-Z]+\s[a-zA-Z]+$" title="Username must be two words separated by space." />
  </div>
  <div class="form__modal">
    <input class="form__line" name="phone" id="phone" placeholder="Phone" type="tel" required
      pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}" title="Format: +99(99)9999-9999" />
  </div>
  <div class="form__modal">
    <textarea class="form__line comment" id="text" placeholder="Comment"></textarea>
  </div>
  <button type="submit" class="modal__btn modal__btn-product">Submit</button>
</div>

<div class="overlay js-overlay-modal"></div>