<div class="modal modal--map" data-modal="2">
  <button class="modal__btn-close js-modal-close">
    <svg class="modalcls">
      <use href="./images/icons.svg#icon-close-cross"></use>
    </svg>
  </button>

  <h2 class="modal__header">Our Locations</h2>

  <picture>
    <source srcset="
        ./images/location-modal/location-modal-mobile.jpg    1x,
        ./images/location-modal/location-modal-mobile@2x.jpg 2x
      " media="(max-width: 767px)" />

    <source srcset="
        ./images/location-modal/location-modal-tablet.jpg    1x,
        ./images/location-modal/location-modal-tablet@2x.jpg 2x
      " media="(min-width: 768px)" />

    <img src="./images/location-modal/location-modal-mobile.jpg" alt="location map" />
  </picture>

  <a href="https://goo.gl/maps/AvNRvpogiTNFUgvv9" target="_blank" rel="noreferrer noopener"
    class="modal__btn modal__btn-loc">Open map</a>
</div>

<div class="overlay js-overlay-modal"></div>