<div class="modal" data-modal="5">
  <button class="modal__btn-close js-modal-close">
    <svg width="20" height="20" class="">
      <use href="./images/icons.svg#icon-close-cross"></use>
    </svg>
  </button>

  <h2 class="modal__header">How it’s made?</h2>

  <div class="modal__video"></div>

  <p class="modal__video-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
<div class="overlay js-overlay-modal"></div>
