<div class="modal modal-read" data-modal="5">
  <button class="modal__btn-close js-modal-close">
    <svg class="modalcls">
      <use href="./images/icons.svg#icon-close-cross"></use>
    </svg>
  </button>



  <h2 class="modal__header">How it’s made?</h2>

  <div class="modal__video">
    <iframe class="video-size" src="https://www.youtube.com/embed/mKdocCKEocA" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>

  <p class="modal__video-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
<div class="overlay js-overlay-modal"></div>