<div class="backdrop">
  <div class="modal">
    <button class="modal__btn-close">
      <svg width="12" height="12" class="modal__svg">
        <use href="./images/icons.svg#icon-close-line"></use>
      </svg>
    </button>

    <h2 class="modal__title">Chololate icecream</h2>
    <img class="modal__image" src=".\images\modal-products\chololate-icecream-modal@2x.png" alt="ice-cream" width="132"
      class="modal__svg">

    <div class="calories">

      <ul class="calories__list">
        <li class="sphere calories__list-item link">320</li>
        <li class="sphere calories__list-item link">4g </li>
        <li class="sphere calories__list-item link">8,2g </li>
        <li class="sphere calories__list-item link">40,4g </li>
      </ul>
      <ul class="calories__list">
        <li class="calories__list-item calories__list-item--border link">kcal</li>
        <li class="calories__list-item calories__list-item--border link">Protein...</li>
        <li class="calories__list-item calories__list-item--border link">Fats</li>
        <li class="calories__list-item calories__list-item--border link">Carbs</li>

      </ul>

    </div>

    <p class="ingredients-name">Ingredients</p>

    <div class="ingredients">
      <ul class="ingredients__list">
        <li class="ingredients__list-item link ">Milk</li>
        <li class="ingredients__list-item link">Belgian chocolate</li>
        <li class="ingredients__list-item link">Cream</li>
        <li class="ingredients__list-item link">Cocoa powder</li>
        <li class="ingredients__list-item link">Sugar</li>
        <li class="ingredients__list-item link">Vanilla sugar</li>
      </ul>
      <ul class="ingredients__list">
        <li class="ingredients__list-item link">100ml</li>
        <li class="ingredients__list-item link">20g</li>
        <li class="ingredients__list-item link">150 ml</li>
        <li class="ingredients__list-item link">30g</li>
        <li class="ingredients__list-item link">40g</li>
        <li class="ingredients__list-item link">10g</li>
      </ul>
    </div>

    <div class="form__modal">
      <label for="name" class="form__label">Name</label>
      <input class="form__line" type="text" name="name" id="name">
    </div>
    <div class="form__modal">
      <label for="phone" class="form__label">Phone</label>
      <input class="form__line" type="text" name="phone" id="phone">
    </div>
    <div class="form__modal">
      <label for="text" class="form__label">Коментар</label>
      <textarea class="form__line comment" id="text" placeholder="Введіть текст"></textarea>
    </div>
    <button type="button" class="modal__btn">Submit</button>
  </div>
</div>
</div>
</div>