<section class="products container">
    <h3 class="products__title--800">100% natural</h3>
    <h2 class="products__title--400">products</h2>
    <div class="products-box">
        <div class="products__item products__item--green">
            <div class="products__full-img">
                <div class="products__picture">
                    <!-- <picture>
                                    <source media="(min-width:1200px )" srcset=" 1x,  2x" type="">
                                    <source media="(min-width:768px )" srcset=1x, 2x" type="">
                                    <source media="(min-width:480px )" srcset=1x, 2x" type="">
                                    <img src="" alt="product">
                                </picture> -->
                </div>
                <div class="products__picture--back">

                </div>
            </div>
            <div class="products-elements">
                <h2 class="products-elements__title">ice cream</h2>
                <p class="products-elements__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar
                    and
                    natural
                    stabilizer
                </p>
                <a class="products-elements__svg" href="#">
                    <!-- <svg>
                            <use href=""></use>
                        </svg> -->
                </a>
            </div>
        </div>
        <div class="products__item products__item--green">
            <div class="products__full-img">
                <div class="products__picture">
                    <!-- <picture>
                                        <source media="(min-width:1200px )" srcset=" 1x,  2x" type="">
                                        <source media="(min-width:768px )" srcset=1x, 2x" type="">
                                        <source media="(min-width:480px )" srcset=1x, 2x" type="">
                                        <img src="" alt="product">
                                    </picture> -->
                </div>
                <div class="products__picture--back">

                </div>
            </div>
            <div class="products-elements">
                <h2 class="products-elements__title">ice cream</h2>
                <p class="products-elements__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar
                    and
                    natural
                    stabilizer
                </p>
                <a class="products-elements__svg" href="#">
                    <!-- <svg>
                                <use href=""></use>
                            </svg> -->
                </a>
            </div>
        </div>
        <div class="products__item products__item--green">
            <div class="products__full-img">
                <div class="products__picture">
                    <!-- <picture>
                                        <source media="(min-width:1200px )" srcset=" 1x,  2x" type="">
                                        <source media="(min-width:768px )" srcset=1x, 2x" type="">
                                        <source media="(min-width:480px )" srcset=1x, 2x" type="">
                                        <img src="" alt="product">
                                    </picture> -->
                </div>
                <div class="products__picture--back">

                </div>
            </div>
            <div class="products-elements">
                <h2 class="products-elements__title">ice cream</h2>
                <p class="products-elements__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar
                    and
                    natural
                    stabilizer
                </p>
                <a class="products-elements__svg" href="#">
                    <!-- <svg>
                                <use href=""></use>
                            </svg> -->
                </a>
            </div>
        </div>
    </div>
</section>