<section class="contact">
  <div class="container contact__container">
    <h2 class="contact__title visually-hidden">Our Agency</h2>
    <div class="holder contact__holder" id="contact">
      <ul class="agency agency__list list">
        <!-- 1 -->
        <li class="agency__item">
          <p class="agency__category">CAFE</p>
          <div class="agency__wrap">
            <p class="agency__city">Chicago</p>
            <a href="" class="agency__link link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
          </div>
          <ul class="schedule schedule__list list">
            <li class="schedule__item">
              <p class="schedule__day">Monday - Friday</p>
              <p class="schedule__hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__day">Saturday - Sunday</p>
              <p class="schedule__hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="meta meta__wrap">
            <a href="tel:+610383766284" class="meta__tel meta__link link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="meta__mail meta__link link">noreply@envato.com</a>
          </div>
        </li>
        <!-- 2 -->
        <li class="agency__item">
          <p class="agency__category">FOODTRUCK</p>
          <div class="agency__wrap">
            <p class="agency__city">Los Angeles</p>
            <a href="" class="agency__link link">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
          </div>
          <ul class="schedule__list list">
            <li class="schedule__item">
              <p class="schedule__day">Monday - Friday</p>
              <p class="schedule__hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__day">Saturday - Sunday</p>
              <p class="schedule__hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="meta meta__wrap">
            <a href="tel:+610383766284" class="meta__tel meta__link link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="meta__mail meta__link link">noreply@envato.com</a>
          </div>
        </li>
        <!-- 3 -->
        <li class="agency__item">
          <p class="agency__category">CAFE</p>
          <div class="agency__wrap">
            <p class="agency__city">New York</p>
            <a href="" class="agency__link link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
          </div>
          <ul class="schedule__list list">
            <li class="schedule__item">
              <p class="schedule__day">Monday - Friday</p>
              <p class="schedule__hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__day">Saturday - Sunday</p>
              <p class="schedule__hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="meta meta__wrap">
            <a href="tel:+610383766284" class="meta__tel link meta__link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="meta__mail link meta__link">noreply@envato.com</a>
          </div>
        </li>
      </ul>
      <ul class="contact__btn__list">
        <li class="contact__btn__item">
          <button type="button" class="contact__btn location__btn js-open-modal" data-modal="2">
            Our Locations
            <svg class="contact__btn__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
        </li>
        <li class="contact__btn__item">
          <button type="button" class="contact__btn franchise__btn js-open-modal" data-modal="1">
            Franchise
            <svg class="contact__btn__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>