.section-about {

    font-family: 'Montserrat', sans-serif;
    background-color: $bg-color-green;
    color: $txt-white;
    padding: 61px 0 50px 0;

     @media (min-width: 768px) {
        padding: 60px 0 60px 0;
    }
}

.section-about__pre-title {

    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-weight: 800;
        font-size: 22px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }
}

.section-about__title {

    font-family: 'Seymour One', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 12px auto 32px auto;

    @media (max-width: 767px) {
        max-width: 200px;
    }

    @media (min-width: 768px) {
        font-size: 34px;
        line-height: 1.26;
        letter-spacing: 0.06em;
    }
}

.tumb {
    
    position: relative;
    width: 279px;
    height: 278px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140px;
    margin: 0  auto 62px auto;
}

.picture {
    position: absolute;
    top: 22px;
}

.section-about__text {

    font-weight: 400;
    font-size: 12px;
    line-height: 1.59;
    text-align: center;
    max-width: 220px;
    margin: 0 auto 10px auto;
}
.section-about__text--first {

    line-height: 1.75;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.section-about__button {

    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    color: $black;
    border: none;
    outline: none;
    background-color: $dyellow-color;
    border-radius: 10px;
    padding: 12px 35px 12px 34px;
    margin: 0 auto;


    &:hover {
        background-color: $accent-color;
    }

    &:focus {
        background-color: $accent-color;
        color: $txt-white;
    }

}
.section-about__icon {

    margin-left: 4px;
    fill: currentColor;
    
    &:hover,
    &:focus {
        fill: currentColor;
    }
}
.section-about__text--desktop {
    display: none;

    @media (min-width: 1200px) {
    display: block
    }
}