.header__button {
    animation: shadow-size 3000ms cubic-bezier(0.4, 0, 0.2, 1) 3s infinite;
}
.header__button:hover,
.header__button:focus {
    animation-play-state: paused; 
}
@keyframes shadow-size {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }
    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }
    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }
    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
        box-shadow:0px 0px 20px 3px #f5e0e0;
    }
    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
        box-shadow:0px 0px 20px 3px #f5e0e0;
    }
  
}
// Other buttons
.section-about__button,
.location__btn,
.franchise__btn {
    animation: font-size 3000ms cubic-bezier(0.4, 0, 0.2, 1) 3s infinite;
}
.section-about__button:hover,
.section-about__button:focus,
.location__btn:hover,
.location__btn:focus,
.franchise__btn:hover,
.franchise__btn:focus  {
    animation-play-state: paused;  
}
    @keyframes font-size {
        0% {
            animation-timing-function: ease-out;
            transform: scale(1);
            transform-origin: center center;
        }
        10% {
            animation-timing-function: ease-in;
            transform: scale(0.91);
        }
        17% {
            animation-timing-function: ease-out;
            transform: scale(0.98);
        }
        33% {
            animation-timing-function: ease-in;
            transform: scale(0.87);
        }
        45% {
            animation-timing-function: ease-out;
            transform: scale(1);
        }
    }

    .hero__img--round {
        animation-name: spinplate;
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      
      @keyframes spinplate {
        0% {
          transform: rotate(0deg);
        }
      
        100% {
          transform: rotate(360deg);
        }
      }