/*---- Стилі для телефона резинові до 480px і адаптивні до 767px ----*/

.customer-reviews {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 178px 0 393px;
  background-image: url('../images/background/background_mobile.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    max-width: 768px;
    background-image: url('../images/background/background_mobile@2x.png');
  }

  @include minW-Tablet {
    padding: 283px 0 379px;

    background-image: url('../images/background/background_tablet.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      max-width: 1200px;
      background-image: url('../images/background/background_tablet@2x.png');
    }
  }

  @include minW-Dt {
    padding: 464px 0 228px 0;
    max-width: 1600px;
    margin: 0 auto;

    background-image: url('../images/background/background_desktop.png');

    // 2x screens, retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/background/background_desktop@2x.png');
    }
  }

  &__image_thumb {
    height: 85px;
    width: 85px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    margin-bottom: 32px;

    overflow: hidden;
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__text {
    display: flex;
    align-items: center;
    padding: 35px 39px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 32px;

    background-color: $bg-color-green;
    border-radius: 10px;

    
    min-height: 200px;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2.55;

    letter-spacing: 0.04em;

    text-align: center;

    color: #fcfcfc;

    /*---- Стилі для планшета 768px-1199px ----*/

    @include minW-Tablet {
      padding: 28px 80px;
      margin-left: 15px;
      min-height: 138px;
      margin-right: 15px;

      border-radius: 24px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.86;
    }
    /*---- Стилі для десктопа від 1200px ----*/

    @include minW-Dt {
      padding: 43px 73px;
      margin-left: 100px;
      margin-right: 100px;

      font-size: 16px;
    }
  }

  &__name {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;

    text-align: center;

    color: #131313;
    /*---- Стилі для планшета 768px-1199px ----*/
    @include minW-Tablet {
      font-size: 16px;
      line-height: 1.86;
    }
  }
}
