.footer {
  font-style: normal;
  padding-top: 30px;
  background: $bg-color-green;

  @include minW-Tablet {
    padding-top: 20px;
  }

  @include minW-Dt {
    padding-top: 60px;
  }
}

.footer-container {
  margin-bottom: 40px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include maxW-minPhone {
    width: 320px;
  }

  @include minW-Phone {
    width: 480px;
  }

  @include minW-Tablet {
    display: flex;
    justify-content: space-between;
    min-width: 768;
    justify-content: space-between;
    padding: 0 33px;
    margin-bottom: 32px;
  }

  @include minW-Dt {
    display: flex;
    padding: 0 16px 60px 16px;
    min-width: 1200px;
    margin-bottom: 0;
    border-bottom: 1px solid #e1e1e1;
  }
}

.footer-text {
  list-style: none;

  @media screen and (max-width: 767.98px) {
    max-width: 240px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    max-width: 352px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 504px;
  }

  &__item {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $txt-white;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
      font-weight: 400;
      font-size: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @media screen and (min-width: 768px) {
        margin-bottom: 8px;
      }

      @media screen and (min-width: 1200px) {
        margin-bottom: 14px;
      }
    }
  }
}

.footer-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  list-style: none;
  align-items: flex-end;

  @media screen and (min-width: 768px) {
    padding-bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 10px;
    padding-bottom: 0;
    gap: 40px;
  }

  &__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    color: $txt-black;
  }

  &__text {
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      letter-spacing: 0.02em;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: $txt-white;
    transition: background-color $transition, fill $transition;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.86;
      text-align: right;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.02em;
      color: $white;
    }
  }
}

.footer-contact {
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.02em;
  }
}

.footer-networks {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: flex-end;
  list-style: none;

  @media screen and (min-width: 768px) {
    gap: 30px;
  }

  &__item {
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: $dyellow-color;
    box-shadow: 0px 0px 0px 0px #f5eded, 0px 0px 0px 0px #92e692 inset;
    animation-name: changeBShColor;
    animation-duration: 4500ms;
    animation-timing-function: reverse;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    &:hover {
      animation-play-state: paused;
    }

    @keyframes changeBShColor {
      0% {
        box-shadow: 0px 0px 0px 1px $dyellow-color,
          0px 0px 3px 5px #92e692 inset;
      }

      50% {
        box-shadow: 0px 0px 1px 2px #f5eded, 0px 0px 2px 3px #92e692 inset;
      }

      100% {
        box-shadow: 0px 0px 2px 3px #f5eded, 0px 0px 2px 4px #92e692 inset;
      }
    }
  }

  &__icon {
    border-radius: 50%;
    fill: #84a178;
    transition: fill $transition;
  }
}

.footer-networks__link:hover .footer-networks__icon,
.footer-networks__link:focus .footer-networks__icon {
  fill: $txt-white;
}

.footer-watermark {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid #e1e1e1;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 12px 0;
  }

  @media screen and (min-width: 1200px) {
    border-top: none;
  }

  &__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #7a7a7a;

    @media screen and (min-width: 768px) {
      line-height: 1.857;
      letter-spacing: 0.02em;
    }

    @media screen and (min-width: 1200px) {
      font-size: 12px;
      line-height: 1.86;
      letter-spacing: 0.02em;
    }
  }
}

.up {
  position: fixed;
  display: inline-block;
  right: 20px;
  bottom: 20px;
  

  margin: 0;
  padding: 0;
  border: none;

  z-index: 4;
  width: 50px;
  height: 50px;
  font-style: normal;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.83;
  color: #fff;
  opacity: 0.7;
  
  background-color: $dyellow-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity $transition;

  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}
