////// ВЕРХНЄ МЕНЮ //////

// Секція хедер

.section-header {
  width: 100%;
  background-color: #84a178;
}

// корнетйнер хедер

.header {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-right: 4px;
  padding-left: 4px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
    padding-right: 0;
    padding-left: 0;
  }
}

// Логотип в хедері

.header__logo {
  @include minW-Dt {
    margin-right: 308px;
  }
}

.header__logo--svg {
  width: 40px;
  height: 37px;

  @include minW-Tablet {
    width: 48px;
    height: 44px;
  }

  @include minW-Dt {
    width: 60px;
    height: 65px;
  }
}

// кнопка випадного меню три сужки

.menu-toggle {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #ffffff;

  margin-left: auto;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

//  іконка випадного менб три смужки

.toggle-icon {
  fill: currentColor;
}

// Верхнє меню для десктопа

.header__navigation {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.nav-menu__list {
  display: flex;
}

.nav-menu__item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fcfcfc;
  transition: $transition;

  &:hover {
    color: #f8d24e;
  }
}

.nav-menu__item:not(:last-child) {
  margin-right: 32px;
}

// кнопка замовлення

.header__button {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 32px;

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }

  background: #f8d24e;
  border-radius: 10px;

  min-width: 152px;
  min-height: 42px;

  border: none;
}

////// МЕНЮ ВИПАДНЕ ЗГОРИ //////

// сама обгортка меню

.menu {
  z-index: 100;
  position: fixed;
  // display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  gap: 110px;

  overflow-x: hidden;
  background-color: #84a178;

  left: 100%;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.is-open {
  transform: translateX(-100%);
}

// логотип випадного меню

.menu__logo {
  position: absolute;
  top: 12px;
  left: 32px;

  @include minW-Tablet {
    top: 20px;
  }
}

.menu__logo--svg {
  width: 40px;
  height: 37px;

  @include minW-Tablet {
    width: 48px;
    height: 44px;
  }
}

// кнопка закриття моб меню

.menu__buttoncls {
  display: flex;
  position: absolute;
  padding: 0;
  right: 16px;
  top: 20px;

  @media screen and (min-width: 768px) {
    right: 32px;
    top: 32px;
  }

  background-color: transparent;
  border: none;
}

//список посилань меню

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 100px;

  @media screen and (min-width: 768px) {
    margin-top: 140px;
  }
}

//окремий елемент списку посилань

.menu__item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2187;
  color: #fcfcfc;

  &:hover {
    color: #131313;
  }
}

//кнопка в меню

.menu__button {
  @media screen and (min-width: 768px) {
    display: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;

  background: #f8d24e;
  border-radius: 10px;

  min-width: 152px;
  min-height: 42px;

  border: none;
}

// .button {
//   display: flex;
//   align-items: center;
//   margin-bottom: 64px;
//   padding: 12px 35px;
//   background-color: #f8d24e;
//   border-radius: 10px;
//   border: none;
//   cursor: pointer;

//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 1.2142;
//   color: #000000;
//   fill: #000000;
//   transform: translateX(0);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   @media screen and (min-width: 768px) {
//     display: none;
//   }

//   &:hover {
//     background-color: #0a8817;
//   }

//   &:focus {
//     background-color: #0a8817;
//     color: #ffffff;
//     fill: currentColor;
//   }
// }

// .button__text {
//   font-family: 'Montserrat';
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 1.2142;
//   color: $black;
//   margin-right: 4px;
// }
// .button__text:focus {
//   color: $white;
// }

// .nav-menu__button {
//   width: 152px;
//   height: 42px;
//   margin-bottom: 64px;
//   padding: 12px 36px;
//   background: #f8d24e;
//   border-radius: 10px;
//   border: none;
//   cursor: pointer;
//   margin-right: 4px;
// }

// .nav-menu__button {
// margin-bottom: 64px;
// padding: 12px 35px;
// background: #f8d24e;
// border-radius: 10px;
// border: none;

// font-family: 'Montserrat';
// font-style: normal;
// font-weight: 600;
// font-size: 14px;
// line-height: 1.2142;
// color: #000000;
// fill: #000000;
// transform: translateX(0);
// transition: background-color $transition;

// @media screen and (min-width: 320px) {
//   display: none;
// }

// @media screen and (min-width: 768px) {
//   display: flex;
//   align-items: center;
//   margin-bottom: 0;
// }

//   &:hover {
//     background-color: #0a8817;
//   }

//   &:focus {
//     background-color: #0a8817;
//     color: $white;

//     fill: currentColor;
//   }
// }

// .nav-menu {
//   @media screen and (max-width: 1199px) {
//     display: none;
//   }
// }
