.modal__title {
  margin-bottom: 83px;
  @include minW-Tablet {
    margin-bottom: 103px;
  }
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 638px;
  width: 100%;
  margin-bottom: 32px;

  @include minW-Tablet {
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 164px) / 3);
    gap: 82px;

    @include minW-Tablet {
      flex-direction: row;
      flex-basis: calc((100% - 64px) / 3);
      gap: 32px;
    }
  }

  &__img {
    width: 132px;
    height: 132px;
  }

  &__item {
    position: relative;
    width: 132px;
    height: 136px;
    padding: 96px 16px 20px 16px;

    border-radius: 15px;
  }
}
.elements__txt {
  position: absolute;
  top: 158px;
  z-index: 3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  width: 106px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $txt-black;
  pointer-events: none;
}

.picture__modal {
  position: absolute;
  z-index: 2;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
}
.picture__img--modal {
  transform: translateY(-7px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.input-wrapper {
  max-width: 320px;
  width: 60vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 24px) / 3);
  gap: 12px;
  @include minW-Tablet {
    flex-basis: calc((100% - 32px) / 3);
    gap: 16px;
  }

  &__input {
    padding: 8px 12px;

    width: 100%;
    height: 32px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4166;

    color: $txt-black;

    @include minW-Tablet {
      height: 42px;
      padding: 11px 16px;
      min-width: 368px;
    }
  }
}

.form__textarea {
  width: 100%;
  height: 65px;
  resize: none;
  @include minW-Tablet {
    height: 84px;
  }
}

.modal-buy {
  @include minW-Tablet {
    width: 568px;
    height: 644px;
    padding: 32px 54px;
  }
}
