.modal-read {
  padding: 28px;

  @include minW-Tablet {
    max-width: 568px;
    padding: 32px 60px;
  }
}

.modal {
  &__video {
    margin: 0 auto;
    height: 199px;
    background: #131313;
    border-radius: 10px;
    margin-bottom: 20px;

    @include minW-Tablet {
      max-width: 448px;
      width: 100%;
      height: 205px;
      margin-bottom: 32px;
    }
  }

  &__video-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: start;

    color: #131313;

    @include minW-Tablet {
      font-size: 16px;
    }
  }
}
